<form class="destination-container">  
        <mat-carousel>
                <mat-carousel-slide>
                <mat-card class="example-card">
                        <mat-card-content>
                            <mat-form-field class="auth-full-width">
                                <input type="text" matInput class="input-color" placeholder="Tell us your destination" 
                                     name="destinationAddress"  />
                            </mat-form-field>
                        <button mat-raised-button color="accent"
                                class="auth-full-width login-text">See
                                <i class="material-icons right">send</i>
                            </button>
                        </mat-card-content>
                    </mat-card>
                </mat-carousel-slide>
          </mat-carousel>
</form>

