
<div class="destination-container" *ngIf="!showTripDetails">
        <swiper [config]="config">
                <div class="swiper-wrapper">
                <mat-card class="available-drivers-card swiper-slide" *ngFor="let trips of availableTrips; let i = index;">
                        <mat-card-content>
                          <div class="avd">
                            <!-- <h2 class="heading">Available Drivers</h2> -->
                            <div class="driver-container">
                              <div class="driver-track">
                                <div class="driver-item">
                                  <div class="container-grid">
                                    <div class="avi-info">
                                      <img src="assets/Images/Avatar1.png" alt="" class="avi" />
                                      <h3 class="driver-name">{{driverUserName[i]}}</h3>
                                      <span class="driver-stats">4.33</span>
                                    </div>
                                    <div class="destination-details">
                                      <div class="time-line-container">
                                        <ul class="tl">
                                          <li class="destination">
                                            <div class="location">Your Pickup Spot</div>
                                            <div class="seats sub">{{trips.tripPickup}}</div>
                                          </li>
                                          <li class="current-location">
                                            <div class="location">You are {{trips.timeToPickup}} away</div>
                                            <div class="est sub">{{availableSeats[i]}} seats available</div>
                                          </li>
                                        </ul>
                                      </div>
                                      <button type="submit" mat-raised-button color="accent" class="auth-full-width" (click)="passTripDetails(trips.tripId)">Choose Driver</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-card-content>
                    </mat-card>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->

                    <mat-card *ngIf="emptyTrip">
                      <mat-card-content>
                        <div >Sorry, there are no drivers heading in your direction at this time. Please try again shortly.</div>
                        <button type="submit" mat-raised-button color="accent" class="auth-full-width cancel-btn" (click)="navToTripSearch()">Back</button>
                      </mat-card-content>
                    </mat-card>
        </div>
        </swiper>
      </div>

<app-driverdetails *ngIf="showTripDetails"></app-driverdetails>



