/* 
=============================
ride-details variant   
=============================
*/


.ride section.auth-pages.security#ride-confirmation .item-details.dd {
  display: block;
}

.ride section.auth-pages.security#ride-confirmation .item-details.dest, .ride.request section.auth-pages.security#ride-confirmation .item-details.dd,
.ride section.auth-pages.security#ride-confirmation .item-details.srt {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: unset;
}

.ride section.auth-pages.security#ride-confirmation .item-details.dest button, .ride.request section.auth-pages.security#ride-confirmation .item-details.dd button,
.ride section.auth-pages.security#ride-confirmation .item-details.srt button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 4px 12px;
  width: 100px;
  font-size: 12px;
  height: 30px;
  font-weight: 500;
  -ms-grid-column-align: end;
      justify-self: end;
}

.ride section.auth-pages.security#ride-confirmation .item-details.dest .save-driver, .ride.request section.auth-pages.security#ride-confirmation .item-details.dd .save-driver,
.ride section.auth-pages.security#ride-confirmation .item-details.srt .save-driver {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
}

.ride section.auth-pages.security#ride-confirmation .item-details.rsd {
  display: block;
  margin-bottom: 100px;
}


/* 
=============================
ride-request variant   
=============================
*/
.ride.request section.auth-pages.security#ride-confirmation .item-details.dd button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.ride.request section.auth-pages.security#ride-confirmation .item-details.srt {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  margin-bottom: 82%;
}

.ride.request section.auth-pages.security#ride-confirmation .button-group {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 10%;
}

.ride.request section.auth-pages.security#ride-confirmation .button-group #reject {
  background-color: #ff5252;
  font-weight: 500;
}



/* 
=============================
ride-confirmation variant 
=============================
*/
section.auth-pages.security#ride-confirmation .item-details {
  margin-bottom: 20px;
}

section.auth-pages.security#ride-confirmation .item-details.dd {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: unset;
}

section.auth-pages.security#ride-confirmation .item-details.srt {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 40px;
}

section.auth-pages.security#ride-confirmation .item-details.rsd {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 30px;
  margin-bottom: 40px;
}

section.auth-pages.security#ride-confirmation .title-heading {
  font-size: 12px;
  font-weight: 500;
  color: #d54ab6;
  margin-bottom: 3px;
}

section.auth-pages.security#ride-confirmation .details {
  font-size: 13px;
  margin-bottom: 0;
}

section.auth-pages.security#ride-confirmation .flaticon-square-add-button:before {
  font-size: 14px;
  color: #ae0e8a;
  background-color: #f3f3f3;
}

section.auth-pages.security#ride-confirmation .flaticon-star:before {
  font-size: 17px;
  border-radius: 2px;
  margin-right: 5px;
}

section.auth-pages.security#ride-confirmation .flaticon-star.active:before {
  color: #fbbb00;
}

.flaticon-left-arrow {
  color: #f3f3f3; 
}
.phone-img {
  padding-top: 8px;
  width: 22%;
  margin-left: 26px;
}

section.auth-pages.security#ride-confirmation button {
  padding: 4px 0;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #d54ab6;
  border: 0;
  text-align: center;
  font-weight: bold;
  // font-family: "Lato";
}

section.auth-pages.security#ride-confirmation button:focus, section.auth-pages.security#ride-confirmation button:active, section.auth-pages.security#ride-confirmation button:hover {
  outline: none;
}

section.auth-pages.security#ride-confirmation .card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.auth-pages.security#ride-confirmation .card-details img {
  margin-right: 15px;
}

/* 
================
Security-theme
================
*/
section.auth-pages.security nav {
  padding: 20px 32px;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: [cone] 1fr [ctwo];
      grid-template-columns: [cone] 1fr [ctwo];
  -ms-grid-rows: [rone] 1fr [rtwo];
      grid-template-rows: [rone] 1fr [rtwo];
  grid-column-gap: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #d54ab6;
  margin-top: 0;
}

section.auth-pages.security nav a {
  -ms-grid-column-align: left;
      justify-self: left;
  grid-row: rone/rtwo;
  grid-column: cone/ctwo;
}

section.auth-pages.security nav h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  grid-row: rone/rtwo;
  grid-column: cone/ctwo;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
}

section.auth-pages.security .setting-group, section.auth-pages.security#ride-history .history-group, section.auth-pages.security#saved-drivers .driver-details {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 24px;
}

@media only screen and (max-height: 568px) {
  .ride.request section.auth-pages.security#ride-confirmation .item-details.srt {
    margin-bottom: 48%;
  }
}


@media only screen and (min-height: 812px) {
  .ride.request section.auth-pages.security#ride-confirmation .item-details.srt {
    margin-bottom: 121%;
  }
}