<div class="ride request">
    <section class="settings-page auth-pages security" id="ride-confirmation">
        <!-- <nav>
          <a href="">
            <i class="flaticon-left-arrow"></i>
          </a>
          <h1>Request</h1>
        </nav> -->

        <div *ngIf="riderRequestLength === 0" class="emptyRiders">
          <span>You do not have any LnkuP request currently. You will be alerted once there is a request.</span>
        </div>
        <swiper [config]="config" *ngIf="riderRequestLength > 0">
            <div class="swiper-wrapper" >
          <main class="contain-box  swiper-slide" *ngFor="let request of riderRequest; let i = index;">
            <div class="item-details dd">
              <div class="driver-name">
                <h6 class="title-heading">Rider name</h6>
                <p class="details">{{request.user.userName}}</p>
              </div>
             
            </div>
            <div class="item-details">
              <div class="pick-spot">
                <h6 class="title-heading">Pickup Spot</h6>
                <p class="details">{{activeTrip.tripPickup}}</p>
              </div>
            </div>
            <div class="item-details dest">
              <div class="destination">
                <h6 class="title-heading">Destination</h6>
                <p class="details">{{activeTrip.tripDestination}}</p>
              </div>
            </div>
            <div class="item-details srt">
              <div class="seats">
                <h6 class="title-heading">Seats</h6>
                <p class="details">{{request.bookedSeat}}</p>
              </div>
              <div class="ride-fee">
                <h6 class="title-heading">Ride Fee</h6>
                <p class="details">&#8358; {{feePerSeat}} / seat</p>
              </div>
              <div class="fee-total">
                <h6 class="title-heading">Total</h6>
                <p class="details">&#8358; {{request.tripFee}}</p>
              </div>
            </div>
      
            <div class="button-group">
              <button id="accept" mat-raised-button color="accent" class="auth-full-width"
               (click)="acceptTripRequest(riderRequest[i])">Accept</button>
              <button id="reject" mat-raised-button color="accent" class="auth-full-width"
              (click)="declineTripRequest(riderRequest[i])">Reject</button>
            </div>
          </main>
          </div>
        </swiper>
      </section>
</div>

<app-notification></app-notification>


