<div class="ride request animated zoomIn">
  <div class="refresh-container animated zoomIn" *ngIf="riderRequestLength < 1" (click)="getActiveTrips()">
    Refresh
    <img src="./assets/icons/refresh.svg" alt="" class="refresh-btn">
  </div>
  <section class="settings-page auth-pages security" id="ride-confirmation">
    <!-- <nav>
          <a href="">
            <i class="flaticon-left-arrow"></i>
          </a>
          <h1>Request</h1>
        </nav> -->

    <div *ngIf="loading" class="emptyRiders">
      <span>Fetching Requests...</span>
    </div>
    <div *ngIf="cancelLoading" class="emptyRiders">
      <span>Cancelling your trip</span>
    </div>
    <div *ngIf="riderRequestLength === 0 && !loading && allRiderRequest === 0 && !cancelLoading"
      class="emptyRiders animated zoomIn">
      <span>No rider has joined this trip.</span>
    </div>
    <!-- <div *ngIf="riderRequestLength < 1 && !loading && allRiderRequest > 0" class="emptyRiders fadeOutLeft">
      <span>{{allRiderRequest}} {{allRiderRequest > 1 ? 'riders' : 'rider' }} has been added to this trip</span>
    </div> -->
    <swiper [config]="config" *ngIf="!loading">
      <div class="swiper-wrapper animated zoomIn">
        <main class="contain-box  swiper-slide" *ngFor="let request of riderRequest; let i = index;">
          <div class="item-details dd">
            <div class="driver-name">
              <h6 class="title-heading">Rider name</h6>
              <p class="details">{{request.user.userName}}</p>
            </div>
            <div id="contact">
              <a href="tel:{{riderNumber[i]}}"> <img src="./assets/Images/phone.svg" alt="" class="phone-img"></a>
              <img src="../../../assets/Images/chat.svg" alt="" class="phone-img" (click)="navToSupport()">
            </div>
          </div>
          <div class="item-details">
            <div class="pick-spot">
              <h6 class="title-heading">Pickup Spot</h6>
              <p class="details">{{activeTrip.tripPickup}}</p>
            </div>
          </div>
          <div class="item-details dest">
            <div class="">
              <h6 class="title-heading">Destination</h6>
              <p class="details">{{activeTrip.tripDestination}}</p>
            </div>
            <div class="payment-method">
              <h6 class="title-heading">Payment Method</h6>
              <p class="details">{{request.paymentType}}</p>
            </div>
          </div>
          <div class="item-details srt">
            <div class="seats">
              <h6 class="title-heading">{{request.bookedSeat > 1 ? 'Seats' : 'Seat'}}</h6>
              <p class="details">{{request.bookedSeat}}</p>
            </div>
            <div class="ride-fee">
              <h6 class="title-heading">Ride Fee</h6>
              <p class="details">&#8358; {{feePerSeat}} / seat</p>
            </div>
            <div class="fee-total">
              <h6 class="title-heading">Total</h6>
              <p class="details">&#8358; {{request.tripFee}}</p>
            </div>
          </div>
          <div class="title-heading">Swipe left to view more riders</div>

          <div class="button-group">
            <!-- <button id="accept" mat-raised-button color="accent" class="auth-full-width"
              (click)="acceptTripRequest(riderRequest[i])">Accept</button>
            <button id="reject" mat-raised-button color="accent" class="auth-full-width"
              (click)="declineTripRequest(riderRequest[i])">Reject</button> -->
          </div>


        </main>
      </div>
    </swiper>
  </section>

  <div class="trip-control">
    <button id="accept" mat-raised-button color="accent" class="auth-full-width animated zoomIn accept-btn"
      *ngIf="!loading && riderRequestLength > 0" (click)="startTrip()">Start</button>
    <button *ngIf="!loading" id="accept" mat-raised-button color="accent" class="auth-full-width animated zoomIn"
      (click)="cancelActiveTrip()">Cancel</button>
  </div>
</div>