// color variables
$primary-color: #e040fb;
$secondary-color: #424242;
$tentiary-color: #ffffff;
$danger-color: #ff5252;
$confirm-color: #2ad95a;
$money-color: #28b446;
$modal-dot-color: #8897a7;
$input-border-color: #d8d8d8;
$card-not-active: rgba(213, 74, 182, 0.25);

// font-variables
$heading-weight: bold;
$primary-font: 'Circular';
$primary-font-2: 'Circular-book';
$secondary-font: 'Lato';
$heading-text: 32px;
$normal-text: 16px;
$undernote-text: 14px;
$undernote-text-2: 12px;

// measures
$button-radius: 5px;
$map-modal-radius: 16px;
$card-radius: 4px;
$full-width: 100%;
$input-border: 1px solid $tentiary-color;
$input-trans: 1px solid $input-border-color;
