<section class="auth-pages sign-up-page">
    <main class="contain-box">
      <nav>
        <a href="">
          <i class="flaticon-left-arrow"></i>
        </a>
      </nav>
      <div class="page-heading">
        <h1>Signup</h1>
      </div>
      <!-- <div class="alt-sisgn-up">
        <button class="alt-button " id="facebook">
          <img src="./assets/svg/001-facebook.svg" alt="" width="15px" />
        </button>
        <button class="alt-button " id="google">
          <img src="./assets/svg/002-search.svg" alt="" width="15px" />
        </button>
      </div> -->
      <form [formGroup]="registerForm" (ngSubmit)="registerUser()" id="sign-up-form">
        <div class="input-group">
          <label for="">Username</label>
          <input type="text" name="" id="" formControlName="userName"/>
        </div>
        <div class="input-group">
            <label for="">Email</label>
            <input type="text" name="" id="" formControlName="email"/>
          </div>
        <div class="input-group">
          <label for="">Phone Number</label>
          <input type="text" name="" id="" formControlName="phoneNumber"/>
        </div>
        <div class="input-group">
          <label for="">Password</label>
          <input type="password" name="" id="" formControlName="password"/>
        </div>
        <div class="input-group">
            <label for="">Sign up as</label>
            <select class="select-container" formControlName="role" >
                <option disabled selected value> --Select-- </option>
                <option value="Driver" >Driver</option>
                <option value="Rider" >Rider</option>
          </select>
          </div>
        <div class="input-group checker">
          <input type="checkbox" name="" id="" formControlName="termsAgree"/>
          <p>I accept Terms and Conditions of the LnkUp App</p>
        </div>
        <div class="input-group">
          <input type="submit" value="Verify" />
          <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </form>
      <p class="a-login">Already have a account? <a href="auth" >Log In</a></p>
    </main>
  </section>