<section class="auth-pages sign-up-page">
  <main class="contain-box">
    <div class="page-heading">
      <h1>Signup</h1>
    </div>
      <mat-spinner *ngIf="loading" [diameter]="20"
      class="loader"
    ></mat-spinner>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" id="sign-up-form">
      <mat-form-field class="auth-full-width">
        <input type="text" matInput class="input-color" placeholder="First Name" formControlName="userName" />
      </mat-form-field>
      <mat-form-field class="auth-full-width">
        <input type="text" matInput class="input-color" placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
      <mat-form-field class="auth-full-width">
        <input type="text" matInput class="input-color" placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field class="auth-full-width">
        <input type="text" matInput class="input-color" placeholder="Phone Number" formControlName="phoneNumber" />
      </mat-form-field>
      <mat-form-field class="auth-full-width">
        <input type="password" matInput class="input-color" placeholder="Password" formControlName="password" />
      </mat-form-field>
      <mat-form-field class="auth-full-width">
        <mat-label>Sign up as</mat-label>
        <mat-select formControlName="role">
            <mat-option value="Driver">Driver</mat-option>
            <mat-option value="Rider">Rider</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="input-group checker">
        <p>By clicking on verify you agree to the LnkuP terms and conditions</p>
      </div>
      <button type="submit" mat-raised-button color="accent" class="auth-full-width login-text"> Verify</button>
      <p class="a-login">Already have an account? <a href="" [routerLink]="['/login']">Log In</a></p>
      <!-- <a class="a-login">Forgot password? <a href="" [routerLink]="['/login']">Log In</a></p> -->

    </form>
  </main>
</section>

<app-notification></app-notification>
