
.navbar-default {
  background: #202020;
  border: none;
  border-left: 6px solid #d54ab6;
  padding-right: 40px;
  margin: 0 !important;
  position: relative;
  top: 20px;
}

.navbar-default .navbar-brand {
  font-size: 40px;
  line-height: 40px;
  padding-top: 4px;
 }
 .img-responsive{
   height: 35px !important;
 }
.navbar-default .navbar-nav li a {
color: #f2f2f2;
font-size: 13px;
font-weight: 400;
line-height: 40px;
transition: all 0.4s ease-in;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #d54ab6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d54ab6;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  background: #d54ab6;
  border-radius: 0px;
   border: none;
   margin-top: 20px;
   margin-bottom: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
  border-color: transparent;
}
.hamburger-inner::after	{
  background-color: #d54ab6 !important;
}
.hamburger-inner::before	{
  background-color: #d54ab6 !important;
}
.hamburger-inner	{
  background-color: #d54ab6 !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
background-color: transparent 
}


.navbar-nav{
  flex-direction: row !important;
}
.nav-items{
  padding-right: 20px;
  font-family: 'verdana';
}
.navbar-brand{
  position: relative;
  right: 10px;
}
.navbar-toggler{
  position: relative;
  left: 29px;
  top: 5px;
  border: none;
}


@media(max-width: 1025px){
  .nav-link{
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  #mobile-nav-toggle {
    display: inline;
  }
  .nav-menu{
    width: 41%;
  }
  .nav-item{
    padding-left: 20px;
   
  }
  .navbar-nav{
    width: 52%;
  }
}



