<div class="avd-container" *ngIf="showLanding">

  <agm-map [(latitude)]="latitude" [(longitude)]="longitude" [(zoom)]="zoom" [zoomControl]="false">
    <agm-marker [(latitude)]="latitude" [(longitude)]="longitude" [markerDraggable]="true"></agm-marker>
    <agm-direction *ngIf="startTrip" [origin]="origin" [destination]="destination" [renderOptions]="renderOptions">
    </agm-direction>

  </agm-map>
  <form action="" id="search-form" *ngIf="showLanding && !driverNavigate">

    <input *ngIf="showDestination" type="search" name="" id="" class="destination" placeholder="Where are you going?"
      matGoogleMapsAutocomplete (onAutocompleteSelected)="storeUserDestinationLocation($event)" />

    <input *ngIf="showPickup" type="search" name="" id="" class="destination" placeholder=" Set your pickup spot"
      matGoogleMapsAutocomplete (onAutocompleteSelected)="storeUserPickupLocation($event)" />
  </form>
  <form class="destination-container" *ngIf="!driverNavigate">
    <mat-card class="example-card">
      <mat-spinner *ngIf="loading" [diameter]="30" class="loader"></mat-spinner>
      <mat-card-content *ngIf="currentUser">
        <div class="destination-details">
          <!-- <p class="move">
                    Move the marker to your destination or enter your destination above
                  </p> -->
          <div class="avi-info" (deferLoad)="driverImage !== ''">
            <img src="{{driverImage}}" alt="" class="profile-info avi" *ngIf="driverImage !== ''" />
            <img src="./assets/Images/default-user.png" class="profile-info avi" alt="" *ngIf="driverImage == ''">

            <div class="driver-name">{{currentUser?.userName}}</div>
            <!-- <span class="driver-stats">Departure: 10:00 am</span> -->
          </div>
          <div class="driver-id">
            <div class="platenumber">{{plateNumber}}</div>

            <div *ngIf="showDestination" class="destination-location">
              <div class="location" style="font-size: 16px;">Your Destination</div>
              <span class="location">{{destinationName}}</span>
            </div>

            <div *ngIf="showPickup" class="destination-location">
              <div class="location" style="font-size: 16px;">Your Pickup Spot</div>
              <span class="location">{{pickupName}}</span>
            </div>
          </div>

        </div>
        <button (click)='setDestination()' mat-raised-button color="accent" *ngIf="showDestination"
          class="auth-full-width login-text">
          Set Destination
          <i class="material-icons right"></i>
        </button>

        <button (click)='setPickup()' mat-raised-button color="accent" *ngIf="showPickup"
          class="auth-full-width login-text">
          Set Pickup
          <i class="material-icons right"></i>
        </button>
      </mat-card-content>

    </mat-card>
  </form>
  <app-driver-trip-navigate *ngIf="driverNavigate"></app-driver-trip-navigate>
</div>
<app-driver-trip-create [destination]="destinationName" [pickup]="pickupName" *ngIf="!showLanding">
</app-driver-trip-create>
<app-notification></app-notification>