.notif-container {
    border: 0.5px solid #121212;
    //border-bottom: 0.5px solid #e040fb;
    width: 100%;
    // margin-left: 31px;
    height: auto;
    border-right: 0px;
    // border-left: 4px solid #e040fb;
    padding: 10px;
    background-color: #e040fb;
    border-radius: 2px;
    top: 0px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
    z-index: 100;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.message {
    color: #121212;
    font-size: 16px;
    font-family: "Circular";
}


#slide {
    position: absolute;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s backwards;
    -webkit-animation: slide-out 0.5s backwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}




