<div class="avd" *ngIf="driverData">
    <!-- <h2 class="heading">Available Drivers</h2> -->
    <div class="driver-container">
      <div class="driver-track">
        <div class="driver-item">
          <div class="container-grid">
            <div class="avi-info" (deferLoad)="driverData.userImage.image != null">
              <img *ngIf="driverData.userImage.image" src="data:image/png;base64,{{driverData.userImage.image}}" alt=""
              class="profile-info" >
             <img *ngIf="!driverData.userImage.image" src="./assets/Images/default-user.png"
              class="profile-info" alt="" >
              <h3 class="driver-name">{{driverData.userName}}</h3>
              <div>
                <div class="seats sub">{{plateNumber}}</div>
              </div>
              <div id="contact">
                <a href="tel:{{driverData.phoneNumber}}"> <img src="../../../assets/Images/phone.svg" alt="" class="phone-img"></a>
                 <!-- <img src="../../../assets/Images/chat.svg" alt="" class="phone-img"> -->
               </div>
            </div>
            <div class="destination-details">
              <div class="time-line-container">
                <ul class="tl">
                  <li class="destination">
                    <div class="location">Meet your driver here</div>
                    <div class="seats sub">{{pickupAddress}}</div>
                  </li>
                  <li class="current-location">
                    <div class="location">Your fare for this trip</div>
                    <div class="est sub">&#8358;{{riderRequestData.tripFee}}</div>
                  </li>
                </ul>
              </div>
              <button type="submit" mat-raised-button color="accent"
               class="auth-full-width"
              (click)="makePayment()">Pay Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-spinner *ngIf="!driverData"  [diameter]="30"
  class="loader"
></mat-spinner>
