<section class="auth-pages login-page">
    <main class="contain-box">
      <nav>
        <a href="">
          <i class="flaticon-left-arrow"></i>
        </a>
      </nav>
      <div class="page-heading">
        <h1>Welcome</h1>
        <p>Log in to continue</p>
      </div>
      <form action="" id="login-form">
        <div class="input-group">
          <label for="">Username</label>
          <input type="email" name="" id="" />
        </div>
        <div class="input-group">
          <label for="">Password</label>
          <input type="password" name="" id="" />
        </div>
        <p><a href="">Forgot password?</a></p>
        <div class="input-group">
          <input type="submit" value="Login" />
        </div>
      </form>
      <p class="a-login">Don’t have a account <a href="" [routerLink]="['register']">Sign Up</a></p>
    </main>
  </section>