/* 
=================
Auth  Pages
=================
*/
section.auth-pages a {
  text-decoration: none;
  -webkit-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
  color: #ffffff;
}
.pl-2{
  position: relative;
  bottom: 40px;
  left: 55%;
}
.auth-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  
}
.login-text{
  color: #eeeeee !important;
}


.auth-full-width {
  width: 100%;
  color: #ccc;
}

td {
  padding-right: 8px;
}

section.auth-pages a:hover, section.auth-pages a:active, section.auth-pages a:focus {
  text-decoration: none;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
  color: #E040FB;
}

section.auth-pages nav {
  margin-top: 55px;
  margin-bottom: 30px;
}

section.auth-pages .page-heading {
  margin-bottom: 35px;
}

section.auth-pages .page-heading h1 {
  color: #E040FB;
  font-weight: bold;
  font-size: 32px;
  font-family: "Poppins";
}

section.auth-pages .page-heading p {
  color: #ccc;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Poppins';
}

section.auth-pages .alt-sisgn-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin-bottom: 37px;
}

section.auth-pages .alt-sisgn-up button {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  color: #ffffff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #ffffff;
  border: 0;
  text-align: center;
  font-weight: bold;
  font-family: "Lato";
  padding: 7px 0px;
  min-width: 123px;
}

section.auth-pages .alt-sisgn-up button:focus, section.auth-pages .alt-sisgn-up button:active, section.auth-pages .alt-sisgn-up button:hover {
  outline: none;
}

section.auth-pages .alt-sisgn-up button:first-of-type {
  margin-right: 10px;
}

section.auth-pages .input-group {
  text-align: left;
  margin: 0 0 30px 0;
}

section.auth-pages .input-group label {
  font-family: "Circular";
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
}

section.auth-pages .input-group input {
  border: 0;
  border-bottom: 1px solid #ffffff;
  font-size: 16px;
  font-family: 'Circular-book';
  width: 100%;
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
}

section.auth-pages .input-group input:focus, section.auth-pages .input-group input:active, section.auth-pages .input-group input:hover {
  outline: none;
  border-bottom: 1px solid #d8d8d8;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

section.auth-pages .input-group input[type='checkbox'] {
  padding: 6px;
  width: unset;
  margin-right: 7px;
  border: 1px solid #e4e8ea;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: transparent;
}

section.auth-pages .input-group input[type='submit'] {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #E040FB;
  border: 0;
  text-align: center;
  font-weight: bold;
  font-family: "Lato";
  padding: 15px 0;
  width: 100%;
}

section.auth-pages .input-group input[type='submit']:focus, section.auth-pages .input-group input[type='submit']:active, section.auth-pages .input-group input[type='submit']:hover {
  outline: none;
}

section.auth-pages .checker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin-top: 30px;
}

section.auth-pages .checker p {
  color: #ccc;
  font-weight: normal;
  font-size: 10px;
  font-family: 'Poppins';
  margin: 0;
}

@media (min-width: 374px) {
  section.auth-pages .checker p {
    font-size: 12px;
  }
}

section.auth-pages .a-login {
  font-size: 14px;
  text-align: left;
  margin-top: 15px;
  font-family: "Poppins";
  color: #ccc;
}

section.auth-pages.login-page .page-heading {
  margin-bottom: 80px;
}

section.auth-pages.login-page #sign-up-form p {
  text-align: right;
  margin-bottom: 60px;
}

section.auth-pages.login-page #sign-up-form p a {
  color: #E040FB;
}
.loader{
  position: relative;
  left: 25%;
  height: 50px;
  width: 20%;
}
::ng-deep .dark-snackbar-error{
  background: #ff1744 !important;
}