<section class="auth-pages login-page">
    <main class="contain-box">
      <nav>
        <a href="">
          <i class="flaticon-left-arrow"></i>
        </a>
      </nav>
      <div class="page-heading">
        <!-- <h1></h1> -->
        <!-- <p>Log in to continue</p> -->
      </div>
      <form  id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <!-- <label for="">Username</label> -->
          <input type="email" name="" id="" formControlName="username" placeholder="username"/>
        </div>
        <div class="input-group">
          <!-- <label for="">Password</label> -->
          <input type="password" name="" id="" formControlName="password" placeholder="password"/>
        </div>
        <!-- <p><a href="">Forgot password?</a></p> -->
        <div class="input-group">
          <input type="submit" value="Login" />
          <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </form>
      <p class="a-login">Don’t have a account <a href="" [routerLink]="['/register']">Sign Up</a></p>
    </main>
  </section>