<mat-card class="example-card destination-container">

        <mat-card-content>
                <div class="avd">
                        <div class="driver-container">
                          <div class="driver-track">
                            <div class="driver-item">
                              <div class="container-grid">
                                <div class="avi-info">
                                  <div class="riders">
                                    <div class="radius">
                                            <div class="avi-info">
                                                    <img src="assets/Images/Avatar1.png" alt="" class="avi" />
                                                    <div class="passengers">Jeff</div>
                                                  </div>
                                    </div>
                                    <div class="radius">
                                            <div class="avi-info">
                                                    <img src="assets/Images/Avatar1.png" alt="" class="avi" />
                                                    <div class="passengers">Jeff</div>
                                                  </div>
                                    </div>
                                    <div class="radius">
                                            <div class="avi-info">
                                                    <img src="assets/Images/Avatar1.png" alt="" class="avi" />
                                                    <div class="passengers">Jeff</div>
                                                  </div>
                                    </div>
                                    <div class="radius">
                                            <div class="avi-info">
                                                    <img src="assets/Images/Avatar1.png" alt="" class="avi" />
                                                    <div class="passengers">Jeff</div>
                                                  </div>
                                    </div>
                                  </div>
                                  <div class="share">
                                    <div class="radius primary">
                                      <i class="flaticon-send-1"></i>
                                    </div>
                                    <div>Share</div>
                                  </div>
                                </div>
                                <div class="destination-details">
                                  <div class="time-line-container">
                                    <ul class="tl">
                                      <li class="destination">
                                        <div class="location">Ibukun way</div>
                                        <div class="seats sub">N 1200</div>
                                      </li>
                                      <li class="current-location">
                                        <div class="location">Tolu Ipoyi Street</div>
                                        <div class="est sub">Destination</div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
        </mat-card-content>
  
      </mat-card>

