<section class="auth-pages book-seat  filled-page settings-page auth-pages security" id="ride-confirmation">
    <main class="contain-box ">
      <nav class="riderHeader">
        <a href="">
          <i class="flaticon-left-arrow"></i>
        </a>
        <h1>Request Summary</h1>
      </nav>
      <div class="page-heading">
        <p>
          Please confirm your seat and pickup spot
        </p>
      </div>
      <mat-spinner *ngIf="loading" [diameter]="30"
      class="loader"
    ></mat-spinner>

      <form action="" id="book-seat-filled-form">
        <mat-form-field class="auth-full-width form-bottom">
          <input type="text" matInput class="input-color" placeholder="Your Dropoff"name="dropoff" [ngModel]=dropoff disabled/>
        </mat-form-field>

        <mat-form-field class="auth-full-width form-bottom">
            <input type="number" matInput class="input-color"
             placeholder="How many seats do you want to book?" name="seatCount" #seatNumber
            [ngModel]=seatCount (keyup)="computeTripFare(seatNumber.value)"/>
        </mat-form-field>

        <div class="payment-options">
            <div class="c-card">
            </div>
            <mat-form-field class="auth-full-width">
              <mat-label>Change Payment Options</mat-label>
              <mat-select >
                  <mat-option value="Card">Card</mat-option>
                  <mat-option value="Cash">Cash</mat-option>
                  <mat-option value="Wallet">Wallet</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <div class="input-group fare-group">
          <div class="f-total">
            <label for="">Fare Total</label>
            <span class="fare-price">&#8358; {{newFare}}</span>
          </div>
          <button type="submit"  id="book-ride" mat-raised-button color="accent"
          (click)="createRiderRequest()" class="auth-full-width">Book Your Ride</button>
        </div>
      
        <!-- <div (click)=cancelRequest() class="cancel">
          Cancel Request
        </div> -->
      </form>
    </main>
  </section>