<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
    <!-- <p>&#8358; {{data.price}}</p> -->
    <!-- <p>
        <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(data.url)" height="300" width="300"
            style="background-color: #ffffff; margin: auto; padding: 20px;"></iframe>
    </p> -->

    <p>
        {{data.url}}
    </p>
</div>
<div mat-dialog-actions class="close-btn">
    <button mat-raised-button color="accent" (click)="onNoClick()">
        Close
    </button>
    <!-- <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Pay Now</button> -->
</div>