body.profile-body {
    background-color: #ffffff;
  }
.flaticon-left-arrow{
  color:  #ffffff !important;
}
.left-arrow {
  padding-right: 30%;
}
.mat-spinner {
  margin-left: 40% !important;
  top: 25px;
}
.profile {
  padding-right:  37%;
}
.icon {
  padding-right: 10px;
}

.auth-pages.security nav {
  padding: 20px 32px;
  display: flex;
  // display: -ms-grid;
  // -ms-grid-columns: [cone] 1fr [ctwo];
  //     grid-template-columns: [cone] 1fr [ctwo];
  // -ms-grid-rows: [rone] 1fr [rtwo];
  //     grid-template-rows: [rone] 1fr [rtwo];
  // grid-column-gap: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #e040fb;
  margin-top: 0;
  }
.auth-pages.security.user-profiles nav {
    margin-bottom: 20px;
  }


  .contain-box {
    padding: 62px 32px !important;
  }
  .submit-license {
    position: relative;
    top: 12px;
    width: 36%;
  }
  .mat-form-field {
    width: 91%;
  }
  .auth-pages.security.user-profiles #edit {
    -ms-grid-column-align: right;
        justify-self: right;
    grid-row: rone/rtwo;
    grid-column: cone/ctwo;
    border: 0;
    background-color: transparent;
  }

  .auth-pages.security.user-profiles #edit .flaticon-pencil::before {
    color: #ffffff;
    font-size: 20px;
  }

  .auth-pages.security.user-profiles .icon-container {
    text-align: right;
  }

  .auth-pages.security.user-profiles #settings {
    background-color: transparent;
    border: 0;
    margin-bottom: 5px;
    display: inline-block;
    outline: none;
  }

  .auth-pages.security.user-profiles #settings:focus {
    outline: none;
  }

  .auth-pages.security.user-profiles #settings .flaticon-cog::before {
    color: #e040fb;
    font-size: 20px;
  }

  .auth-pages.security.user-profiles .user-details {
    background-color: #424242;
    // -webkit-box-shadow: 0px 2px 10px rgba(224, 224, 224, 0.25);
    //         box-shadow: 0px 2px 10px rgba(224, 224, 224, 0.25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 10px 25px 10px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .auth-pages.security.user-profiles .profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  .auth-pages.security.user-profiles .profile-info img {
    max-width: 64px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-right: 10px;
  }

  .auth-pages.security.user-profiles .profile-info .name {
    font-size: 18px;
    margin: 0;
  }

  .auth-pages.security.user-profiles .user-stats {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: unset;
    justify-items: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-family: "Lato";
  }

  .auth-pages.security.user-profiles .user-stats .figures {
    font-size: 18px;
    margin: 0;
  }

  .auth-pages.security.user-profiles .user-stats .label {
    font-weight: bold;
  }

  .auth-pages.security.user-profiles .contact-info .contact {
    background-color: #f5f5f5;
    margin-bottom: 25px;
    padding: 12px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #b2b2b2;
    font-weight: 500;
  }

  .auth-pages.security.user-profiles .contact-info i {
    margin-right: 12px;
  }

  .auth-pages.security.user-profiles .contact-info i::before {
    font-size: 18px;
    font-weight: bold;
    color: #e040fb;
  }


  .auth-pages.security.user-profiles .share {
    text-align: center;
    background-color: #424242;
    padding: 24px 0;
    // -webkit-box-shadow: 0px 4px 10px rgba(224, 224, 224, 0.25);
    //         box-shadow: 0px 4px 10px rgba(224, 224, 224, 0.25);
    border-radius: 4px;
  }

  .auth-pages.security.user-profiles .referrals {
    border-bottom: 1px solid #e4e4e4;
  }
  .riderHeader {
    position: relative !important;
    right: 31px !important;
    width: 120% !important;
  }
  .rides {
    padding-left: 18px;
  }
  .auth-pages.security.user-profiles .ref-label {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .auth-pages.security.user-profiles .ref-code {
    color: #e040fb;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 13px;
  }

  .auth-pages.security.user-profiles .invite-friend {
    margin-top: 12px;
    display: inline-block;
    font-weight: 500;
  }
