<div class="settings-page auth-pages security user-profiles">
  <main class="contain-box">
    <!-- <nav class="riderHeader">
                    <a (click)="navToHome()" class="left-arrow">
                      <i class="flaticon-left-arrow"></i>
                    </a>
                    <h1 class="profile">Profile</h1>
                    
                  </nav> -->
    <div class="user-details">
      <div class="icon-container">
        <button id="edit" class="edit-btn">
          <img src="./assets/icons/create-24px.svg" alt="" (click)="openUploadDialogue()">
        </button>
      </div>
      <div class="profile-info" (deferLoad)="!isImage">
        <img src="{{image}}"  class="avi" *ngIf="isImage">
        <img src="./assets/Images/default-user.png" class="avi"  *ngIf="!isImage">
        <div class="name-container">
          <h2 class="name">{{user.userName}}</h2>
          <!-- <span class="e-mail">{{user.email}}</span> -->
        </div>
      </div>
      <div class="user-stats">
        <div class="rides">
          <!-- <h4 class="figures">40</h4>
            <span class="label">rides</span> -->
        </div>
        <div class="saved-drivers">
          <!-- <h4 class="figures">15</h4>
            <span class="label">saved drivers</span> -->
        </div>
      </div>
    </div>
    <div *ngIf="openDialogue">
      <div class="user-details" >
        <div style="padding-bottom: 20px;"> {{image? 'Change Profile Image' : 'Upload Profile Image'}}</div>
        <mat-spinner *ngIf="loading" [diameter]="20" class="loader"></mat-spinner>
        <div>
          <input type="file" style="padding-bottom: 20px;" (change)="uploadImage($event)" #PhotoInput hidden>
          <button type="submit" mat-raised-button color="accent" class="auth-full-width login-text"
            (click)="PhotoInput.click()">
           Upload
          </button>
        </div>
      </div>

      <div class="user-details" *ngIf="isDriver">
        <div>
            <div style="padding-bottom: 20px;">Please enter your vehicle details</div>
            <mat-spinner *ngIf="licenseLoad"  [diameter]="20"
                class="loader"
              ></mat-spinner>
            <form action="" [formGroup]="registerCarDetails" (ngSubmit)="creatDriverAccount()">
              <mat-form-field class="auth-full-width">
                <input type="text" matInput class="input-color" placeholder="Your Car Model" formControlName="carType" />
              </mat-form-field>
              <mat-form-field class="auth-full-width">
                  <input type="text" matInput class="input-color" placeholder="Your Vehicle Plate Number" formControlName="carDocument2" />
                </mat-form-field>
                <mat-form-field class="auth-full-width">
                    <input type="text" matInput class="input-color" placeholder="Your Address" formControlName="workAddress" />
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Select Your Bank</mat-label>
                      <mat-select  formControlName="driverBank" >
                        <mat-option *ngFor="let bank of banks" [value]="bank.Code">
                          {{bank.Name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="auth-full-width">
                        <input type="text" matInput class="input-color" placeholder="Your Account Number" formControlName="accountNumber" />
                      </mat-form-field>
              <button  type="submit" mat-raised-button color="accent" 
              class="auth-full-width login-text submit-license">Submit</button>
            </form>
            <!-- <div>
                <input type="file" style="padding-bottom: 20px;" (change)="uploadLicense($event)" #licenseInput hidden>
                <button   mat-raised-button color="accent" class="auth-full-width login-text"
                  (click)="licenseInput.click()">
                  Upload Drver License
                </button>
              </div> -->
          </div>
        </div>
        <div class="user-details" *ngIf="isDriver">
            <div style="padding-bottom: 20px;"> Upload License </div>
            <mat-spinner *ngIf="loading" [diameter]="20" class="loader"></mat-spinner>
            <div>
                <input type="file" style="padding-bottom: 20px;" (change)="uploadLicense($event)" #licenseInput hidden>
                <button   mat-raised-button color="accent" class="auth-full-width login-text"
                (click)="licenseInput.click()">
                Upload Drver License
              </button>
            </div>
          </div>
    </div>




    <div class="contact-info">
      <div class="contact">
        <img src="./assets/icons/markunread-24px.svg" alt="" class="icon">
        <span class="contact-details">{{user.email}}</span>
      </div>
      <div class="contact">
        <img src="./assets/icons/call-24px.svg" alt="" class="icon">
        <span class="contact-details">{{user.phoneNumber}}</span>
      </div>
    </div>
    <div class="share">
      <div class="referrals">
        <span class="ref-label"> Referral Code</span>
        <h2 class="ref-code">{{ref}}</h2>
      </div>
      <!-- <a href="" class="invite-friend">Invite Friends</a> -->
    </div>
  </main>
</div>
<app-notification></app-notification>