<section class="onboarding-page">
        <main class="contain-box">
          <div
            id="onboardingCarousel"
            class="carousel slide carousel-fade"
            data-ride="carousel"
          >
          <mat-tab-group headerPosition="below">
                <mat-tab label="." id="#onboardingCarousel"> <img
                    src="assets/Images/onboard3.jpg"
                    class="d-block w-100"
                    alt="..."
                  /> </mat-tab>
                <mat-tab label="." id="#onboardingCarousel"> <img
                    src="assets/Images/onboard4.jpg"
                    class="d-block w-100"
                    alt="..."
                  /> </mat-tab>
                <mat-tab label="." id="#onboardingCarousel" class="logo5"> <img
                    src="assets/Images/onboard2.jpg"
                    class="d-block w-100"
                    alt="..."
                  /> </mat-tab>
              </mat-tab-group>
            <div class="overlap">
              <h4 class="carousel-heading">
                Ridesharing Now Made Easy
              </h4>
              <p class="carousel-p">
                Lnkup is here to make your daily <br />
                commutes convinient, affordable and secure.
              </p>

              <div class="button-container">
                <a href="" [routerLink]="['/login']" mat-raised-button color="accent" class="onboarding-btn">Logon</a>
                <a href="" [routerLink]="['/register']" mat-raised-button color="accent" class="onboarding-btn">Sign Up</a>
              </div>
            </div>
          </div>
        </main>
      </section>
