<section class="onboarding-page settings-page auth-pages security user-profiles">
  <main class="contain-box">
    <!-- <div
            id="onboardingCarousel"
            class="carousel slide carousel-fade"
            data-ride="carousel"
          >
          <mat-tab-group headerPosition="below">
                <mat-tab label="." id="#onboardingCarousel"> <img
                    src="assets/Images/onboard3.jpg"
                    class="d-block w-100"
                    alt="..."
                  /> </mat-tab>
                <mat-tab label="." id="#onboardingCarousel"> <img
                    src="assets/Images/onboard4.jpg"
                    class="d-block w-100"
                    alt="..."
                  /> </mat-tab>
                <mat-tab label="." id="#onboardingCarousel" class="logo5"> <img
                    src="assets/Images/onboard2.jpg"
                    class="d-block w-100"
                    alt="..."
                  /> </mat-tab>
              </mat-tab-group>
            <div class="overlap">
              <h4 class="carousel-heading">
                Ridesharing Now Made Easy
              </h4>
              <p class="carousel-p">
                Lnkup is here to make your daily <br />
                commutes convenient, affordable and secure.
              </p>

              <div class="button-container">
                <a href="" [routerLink]="['/login']" mat-raised-button color="accent" class="onboarding-btn">Login</a>
                <a href="" [routerLink]="['/register']" mat-raised-button color="accent" class="onboarding-btn">Sign Up</a>
              </div>
            </div>
          </div> -->
    <div class="register"></div>
    <div class="greetings">
      <div class="greeting-text">{{greeting}} {{userName ? ',': ''}} {{userName}}.</div>
      <div class="comments">
        <div class="comment-icon"></div>
        <div class="day-comment">It's a lovely day.. </div>
      </div>
    </div>

    <div class="option-cards">
      <div class="option-card user-details" (click)="driverNavToHome()">
        <div class="option-left drive">
          <img class="car-img" src="./assets/Images/driver.svg">

        </div>
        <div class="option-right">
          <div class="comment-head">Drive</div>
          <div class="drive-text">Earn up loads of money driving at your convenience.</div>
        </div>
      </div>
      <div class="option-card user-details" (click)="riderNavToHome()">
        <div class="option-left rider">
          <img class="car-img" src="./assets/Images/car-people.svg">
        </div>
        <div class="option-right">
          <div class="comment-head">Join a ride</div>
          <div class="join-text">Enjoy a comfortable ride, save 75% off your fare.</div>
        </div>
      </div>
    </div>
  </main>
</section>
<app-notification></app-notification>
